* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(253, 253, 253);
  /* background-color: rgb(245, 245, 245); */
}

.nav {
  background-color: #00a3cc;
  width: 100%;
  /* height: 1.5rem; */
  /* padding-top: 3px; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  align-items: center;
  /* padding-right: 100px; */
  gap: 10px;
  /* height: 50px; */
}
.nav h3 {
  /* display: inline; */
  /* line-height: 77%; */
  margin: 10px 0;
  color: white;
  font-weight: 525;
}

.nav-left {
  width: 50%;
  margin-left: 1rem;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 2rem;
  margin-right: 3rem;
  align-items: center;
}

.nav-right a {
  color: white;
  text-decoration: none;
}

.nav-right a:visited {
  color: white;
  text-decoration: none;
}
.nav-right a:active {
  color: yellow;
}

.separator {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

.modal {
  width: 500px !important;
  height: 500px !important;
}

.table-row:hover td {
  background-color: #e6f7ff;
  color: #3399ff;
  font-weight: 3rem;
  /* translate: 10px 10px; */
  text-decoration: underline;
}

.table-row:hover td span {
  cursor: pointer;
}

.scrollable-content {
  overflow-y: auto !important;
  margin-top: 3rem;
  /* margin: auto; */
}

.scrollable-content > * {
  margin: 0 auto;
  text-align: center;
}

/* Nested targeting */
.MuiBox-root div h1 {
  padding: 0 !important;
  margin: 5px !important;
}

.scrollable-content-2 {
  overflow-y: auto !important;
  margin-top: 2.8rem;
  /* margin: auto; */
}

.selected-instance {
  background-color: #e6ffe6;
}

.modal-listing-left > h3 {
  margin: 0.5em 0;
}

.modal-listing-left:hover * {
  text-decoration: underline;
  cursor: pointer;
  color: #3399ff;
}

.modal-listing-right {
  display: flex;
}

.modal-listing-right:hover * {
  cursor: pointer;
}

.modal-warehouse-next {
  display: flex;
  justify-content: flex-end;
}

.modal-full-navigation {
  display: flex;
  justify-content: space-between;
}

.tutorial {
  width: 70vw;
  margin: 0 auto;
}

/* testing this out */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  flex: 4;
  /* margin-right: 10px; */
}

.input-group input {
  flex: 2;
}

.auth-form {
  text-align: center;
}

.error-message {
  text-align: center;
}

a:visited {
  text-decoration: none;
}
